@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

::-webkit-scrollbar{
	width: 10px;
	height: 10px;
}
::-webkit-scrollbar-track{
	background: transparent;
	border-radius: 5px;
}
::-webkit-scrollbar-thumb{
	background: #56545A;
	border-radius: 5px;
}
::-webkit-scrollbar-corner{
	background: transparent;
}
body{
	margin: 70px 100px 35px 100px;
	background-color: #18171C;
	color: white;
}
.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.column{
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}
hr{
	border: 2px solid #414147;
}
@media screen and (min-width: 800px) {
  .column{
    flex: 1
  }
}